.card {
    height: 100%;
    margin: auto;
    max-width: 208px;
    padding: 20px;
}

.card-form {
    max-width: 400px;
}

.card-body  {
    padding: 20px 0 0 0;
}

.card-title,
.card-text  {
    font-size: 18px;
    margin: 0;
}